*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active {
  color: white !important;
}
a {
  text-decoration: none !important;
  color: gray !important;
}
#color-theme {
  color: white !important;
}